<?php //print_r($data); ?>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>front/css/styles.css">
<link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>front/css/font-awesome.min.css">
<!-- <script src="<?php echo base_url(); ?>assets/js/jquery/jquery-2.0.3.min.js"></script>-->
<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
        <style>
            .navbar-nav
            {
                float: right;
            }
            .carousel-inner .item img
            {
                height:280px;
            }
        </style>
        
</head>
<style>
    .popularbut
    {
    text-align: center;
    font-size: 24px;
    padding: 5px 30px 5px 30px;
    background: #e4e4e4;
    border: 5px solid #f1f1f1;
    display: block;
    text-decoration:none;
    color:#695c56;
    }
    .popularbut:hover{
         text-decoration:none;
         color:#695c56;
    }.Contact-us h4 {
    /* text-align: center; */
    font-size: 25px;
    font-weight: bold;
    color: #af3c23;
    margin-bottom: 25px;
}p {
    
    font-size: 17px;
    color: #58453e;
    line-height: 25px;
}.Title strong {
    color: #af3c23;
    font-size: 18px;
}
    .search_box
    {
        background: none !important;
        border:none !important;
        padding: 0 !important;
    }
</style>
    <div class="container-fluid bread">
        <div class="col-md-4">
            <p class="bread_content1"><?=$page;?></p>
        </div>
        <div class="col-md-8">
            <p class="bread_content2">Home/<?=$page;?></p>
        </div>
    </div>
    <div class="container-fluid bread">
        <div class="col-md-4">
            <p class="bread_content1"><button onclick="goBack()">Go Back</button></p>
        </div>
        
    </div>
	
    <div class="container About-content">
	<div class="row">
	<div class="Contact-us"><h4>CONTACT US</h4> </div>
<p>	
Thank you for visiting The IFA Archive website ! We hope you have found what you were looking for. Write to us if you have any other queries or suggestions at archive @indiaifa.org </p>
<div class="row">
<div class="col-md-6">
  <p>If you would like to consult physical archival material, our physical archive is located close to our main office. The address is:   
</p>
<div class="Title"><strong>The IFA Archive</strong>
<p>First Floor, 124, 1st Cross<br>
8o Feet Road, Behind Canara Bank<br>
Ashwath Nagar, Raj Mahal Villas 2nd Stage<br>
Bangalore - 56o 094 <br>
Phone: +91-80-23414681/ 82 / 83<br>
</p>
</div>
</div>
	
	 <div class="col-md-6">
	 <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7774.034267163654!2d77.56808312420182!3d13.034580815681933!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17c28f9f3f19%3A0x8f8ffeb9170357c9!2sRaj+Mahal+Vilas+2nd+Stage%2C+Sanjaynagar%2C+Bengaluru%2C+Karnataka+560094!5e0!3m2!1sen!2sin!4v1532071710875" width="550" height="250" frameborder="0" style="border:0" allowfullscreen></iframe></div>
	 </div>
	
	</div>
	</div>
<div class="row">
<p>
Please note that The WA Archive is a work-in-progress. This online space currently holds the materials of projects supported by IFA in the years 2011 and 2012. Additionally, at the physical site of The IFA Archive, materials from projects supported in the years X, Y, Z will also be available for consultation. Both the online and physical spaces will be continually updated, alongside the ongoing process of archiving.
</p>
The Archive is open <strong>every Friday</strong> (unless it's a Government Holiday) <br/>
between <strong>11.00 AM and or 01.00 PM. </strong><br>
<div class="visit-text"><strong>Visits to the Physical Archive by prior appointment only. </strong></div>

<div class="list">
<p>To book an appointment, please drop a mail to the Archivist Spandana Bhowmik at spandana@indiaifa.org or Assistant Archivist Bhargavi Raju at bhargaviraju@indiaifa.org stating your purpose or for further assistance. 
</p>
</div>	
<div class="click-tect"><p>Click below for a tour of the physical archive! We hope to see you soon!</div>
</div>
</div>
	
<script>
        $(document).ready(function(){
        $( "#searchdiv" ).click(function() {
        
        var cat = document.getElementById('category').value;
        var year = document.getElementById('year').value;
        //alert(cat);
        $( "#usersForm" ).submit();
       
    });
});

function goBack()
{
    window.history.back();
}

pageSize = 5;

    var pageCount =  $(".line-content").length / pageSize;
    for(var i =0 ; i<pageCount; i++){
        $("#pagin").append('<li onclick="report();"><a href="javascript:;" >'+(i+1)+'</a></li> ');
    }
    $("#pagin li").first().find("a").addClass("current1");
    $("#pagin li").first().addClass("active");
        
    showPage = function(page) {
    //alert(page);
        $(".line-content").hide();
        $(".line-content").each(function(n) {
        if (n >= pageSize *(page - 1) && n < pageSize* page)
            $(this).show();
               
        });        
    }
//    
    showPage(1);
    $("#pagin li a").click(function() {
        $("#pagin li").removeClass("active");
        $(this).parent().addClass("active");
     
//        $("#pagin li a").removeAttr( "style" )
        $("#pagin li a").removeClass("current1");
        $(this).addClass("current1");
       
        showPage(parseInt($(this).text())) 
 });

function goBack()
{
    window.history.back();
}
</script>