.boxtemplate{
    border:1px solid #5e87b0;
   
    background: #EEE;
}
.headone{
    background: #5e87b0;
    padding: 10px;
}
.headone h4
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin: 0;
    font-weight:bold;
}

.paddinglake
{
    padding: 0 5px;
}
.boxtemplate ul
{
   padding: 10px 20px;
    margin: 0;
}
.boxtemplate ul li
{
    display:block;
        padding:5px 12px;
        cursor: pointer;
}
.boxtemplate ul li a
{
    font-size:13px;
    color:#000;
    display:block;
    margin-left: 10px; 
    cursor:pointer;
    padding-left:5px;
}
.boxtemplate ul li a.actives
{
background: #000;
color:#fff;
}
.boxtemplate ul li a.actives:before{
    background:#000;
    color:#fff;
    
}
.boxtemplate ul li a:before{
  content: "\f07c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em;
  padding: 0;
  }
  .boxtemplate ul li ul
  {
      padding: 0;
      margin:0;
  }
  .grantbut
  {
        padding: 6px 11px;
    font-size: 13px;
  }
  .multiselect-container
  {
      max-height:200px;
      overflow-y:auto;
  }
  
  
  
  .boxtemplateagain
  {
    border:1px solid #5e87b0;
   
    background: #EEE;
}
.boxtemplateagain ul
{
   padding: 10px 20px;
    margin: 0;
}
.boxtemplateagain ul li
{
   
     padding:5px 15px;
    display:block;
   
}
.boxtemplateagain ul li a
{
    font-size:13px !important;
    color:#000;
    display:block;
   
}
.boxtemplateagain ul li a.active
{
    background-color:#000;
    color:#fff;
}
.boxtemplateagain ul li ul li a.active
{
    background-color:#000;
    color:#fff;
}
.boxtemplateagain ul li ul li ul li a.active
{
    background-color:#000;
    color:#fff;
}


/*.boxtemplateagain ul li:before{
  content: "\f04b"; 
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; 
  width: 1.3em;
  }*/
.boxtemplateagain ul li i
{
    font-size:18px;
    margin-right:5px;
    margin-left:5px;
}
  .boxtemplateagain ul li ul
  {
      padding: 0;
      margin:0;
  }
  .headunderbox
  {
  background: #fff;
  border-bottom: 1px solid #5e87b0;
  padding:10px;
  }
    .headunderbox h4
    {
        font-size:16px;
        color:#003580;
        text-align: center;
        display:block;
    }
    .padingagain
    {
        padding:10px;
    }
    .tablefont{
    width: 100%;
    }
    .tablefont>thead>tr>th{
        font-size:11px;
    }
    .tablefont>tbody>tr>td>input.form-control
    {
        height:28px;
        font-size:13px;
    }
    .addtable
    {
        padding:2px 5px;
        font-size:11px;
        background:#5e87b0;
        color:#fff;
      
    }
        .addtable:hover,.addtable:focus,.addtable:active:focus
        {
            color:#fff;
        }
        .templatetable>thead>tr>th
        {
            font-size: 12px;
            text-align: center;
            padding:6px;
            font-weight: normal;
        }
         .templatetable>tbody>tr>td
         {
         font-size: 12px;
            text-align: center;
            background-color: #fff !important;
         }
         .granttable>thead>tr>th,.granttable>tbody>tr>td
         {
           text-align: center;  
          border:none;
         }
         .statushrf{
             font-size: 9px;
             padding:3px 5px;
             background: #ffe2a6;
             color:#000;
             border-radius: 3px;
             margin:5px 0;
             border:1px solid #FACA66;
             width:60px;
         }
         .statushrf:hover,.statushrf:focus,.statushrf:active:focus
         {
             background: #FACA66;
             color:#000;
              border:1px solid #FACA66;
         }
         .statushrf1{
             font-size: 9px;
             padding:3px 5px;
             background: #009900;
             color:#fff;
             border-radius: 3px;
             margin:5px 0;
              width:60px;
               border:1px solid  #009900;
         }
         .statushrf1:hover,.statushrf1:focus,.statushrf1:active:focus
         {
             background:  #009900;
             color:#fff;
              border:1px solid  #009900;
         }
         .multiselect-selected-text
         {
             white-space: normal;
         }