body {
	font-family: Bienetresocial Regular;
}
.menus {
	background:#f1b931;
}
.go-back a {
	font-size:20px !important;
	color: #4e3c34 !important;
	text-decoration: none;
}
.go-back img {
	width: 30px;
}
.pdf {
	padding-left: 0px !important;
	margin-left: -20px !important;
}
ul.nav.navbar-nav li a {
	color: #58453e;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
ul.nav.navbar-nav li a:hover {
	background: #8b8b8b;
}
.nav>li>a {
	padding:8px 15px !important;
}
ul.nav.navbar-nav li:nth-child(5) {
	border-right: none;
}
img.log1 {
	width: 290px;
	height: 85px;
	margin-top: 5px;
	margin-bottom: 5px;
}
img.log2 {
	width: 85px;
	height: 85px;
	margin-left: -30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
ul.nav.navbar-nav li {
	border-right: 1px solid #58453e;
}
.headertag h3 {
	margin-top:10px !Important;
}
.logo {
	background: #fff;
	margin-top:5px;
	margin-bottom:5px;
}
p {
	line-height:23px !important;
}
.logo h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70px;
}
.headertag {
	text-align: center;
	margin-top:10px;
}
.headertag h2,.headertag h3 {
	margin:0;
}
.headertag h2 a {
	color: #503f39 !important;
	text-transform: uppercase;
	font-size: 40px;
	text-decoration: unset;
	font-family: Bienetresocial Regular;
}
.headertag h3 a {
	font-family: Bienetresocial Regular;
	color: #503f39 !important;
	text-transform: uppercase;
	font-size:15px;
	text-decoration: unset;
}
.item h2 {
	text-align: center;
	font-size:25px;
	font-weight: bold;
	color: #ad4a0f;
	margin-bottom: 25px;
}
.logo h4 a{
	font-size:20px;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
.banner_section {
	padding-left: 0px;
	padding-right: 0px;
}
.carousel-caption {
	right: 11% !important;
	bottom: 77px;
	left: 12% !important;
	text-align: left;
}
h2.caption_one {
	color: #ff9900;
	font-size: 44px;
	font-weight: bold;
}
h1.caption_two {    
	font-size: 46px;
	font-weight: bold;
	margin-top: 0px !important;
	margin-bottom: 30px;
}
a.banner_button {
	text-decoration: none;
	background: #ff9900;
	color: #fff;
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	font-size: 18px;
}
input[type="text"] {
	text-align: center;
	font-size: 24px;
	padding: 5px 30px 5px 30px;
	background: #e4e4e4;
	border: 5px solid #f1f1f1;
}
i.fa.fa-arrow-right {
	border: 5px solid #f1f1f1;
	color: #fff;
	background: #806b66;
	padding: 18px 12px 12px 12px;
}
.row.bg {
	margin-left: 0px;
	margin-right: 0px;
	border-top: 1px solid #e3deda;
	border-bottom: 1px solid #e3deda;
}
.row.bg h4 {
	background: #e3deda;
	text-align: center;
	padding: 10px;
	font-weight: bold;
	font-size: 20px;
	margin-top:0px;
	margin-bottom: 0px;
	color: #514039;
}
.row.bg img {
	width:100%;
}
.listing {
	border: 1px solid #e3deda;
}
.listing a {
	text-decoration: unset;
}
.footer-text p {
	text-align: center;
}
.footer-text {
	text-align:center !important;
}
.ongoing_grants h4 {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: #4e3c34;
	margin-bottom: 25px;
}
.item h3 {
	margin-top: 10px;
	text-align: center;
	color: #4e3c34 !important;
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 600;
}
.grants_text p {
	width:70%;
	display: block;
	margin: 0 auto;
	text-align: center !important;
	font-size: 17px;
	color: #58453e !important;
	padding-top: 5px !important;
	padding-bottom: 20px !important;
	margin-top: -10px;
}
a.sub-text {
	text-align: center;
	background: #e3dcda;
	border: 3px solid #97857e;
	border-radius: 5px;
	padding: 8px;
	width: 250px;
	font-size: 22px;
	text-decoration: none;
	color: #594c46;
	font-size:18px;
}
a.link {
	display: block;
	text-align: center;
	font-size: 16px;
	color: #af3c23;
	text-decoration: none;
	font-weight: bold;
}
.item span {
	font-size:17px !Important;
}
a.left.carousel-control {
	background: none;
}
a.right.carousel-control {
	background: none;
}
.ongoing_grants .glyphicon.glyphicon-chevron-left {
	height: 40px;
	color:#000;
}
.ongoing_grants .glyphicon.glyphicon-chevron-right {
	height: 40px;
	color:#000;
}
.footer {
	background: #806b66;
}
.footer p {
	color: #fff;
	font-size: 18px;
}
.footer ul li {
	list-style: none;
	display: inline-block;
	margin: 5px;
}
.footer ul li a
{
	color:#e3dcda;
	font-size: 35px;
}
.footer ul {
	margin-top:15px;
	margin-bottom: 0px;
	padding:0;
}
img.footer_logo {
	display: block;
	margin: 0 auto;
}
.footer h6 {
	font-size: 18px;
	color: #fff;
	display: block;
	margin: 0 auto;
}
.search-container {
	margin-top:0px;
	margin-bottom: 50px;
	clear: both;
	overflow: hidden;
}
.footer-margin {
	margin-top: 30px;
	margin-bottom: 20px;
}
input[type="email"] {
	background: #c0c0c0;
	border: 5px solid #9a9a9a;
	border-radius: 5px;
	padding: 15px;
	width: 250px;
}
.footer h4 {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}
input[type="email"] {
	text-align: center;
	background: #e3dcda;
	border: 3px solid #97857e;
	border-radius: 5px;
	padding: 8px;
	width: 250px;
	font-size: 22px;
}
.grants_text {
	margin-top: 40px;
	margin-bottom: 40px;
}
.sub-footer {
	background: #231511 !important;
	padding: 10px 0px 0px 0px;
}
.sub-footer p {
	color: #fff;
	font-size: 16px;
}
select {
	font-size:17px;
	padding: 5px 0px 5px 10px;
	display: block;
	text-decoration: none;
	color: #695c56;
	background: #e3dcda;
	border: 3px solid #b4a49f;
	border-radius: 8px;
	width: 100%;
	outline: none;
}
.search-button {
	text-align: center;
	font-size: 20px;
	display: block;
	text-decoration: none;
}
.sub-footer a {
	color: #fff;
}
.bread {
	border-top: 2px solid #f3f3f3;
}
.video_captions a {
	font-size: 17px;
	color: #a84223;
}
p.bread_content1 {
	padding: 10px;
	display: table-cell;
	font-size:17px;
	font-weight: bold;
	color: #444 !important;
}
p.bread_content2 {
	display: table-cell;
	padding: 10px;
	float: right;
	font-size:17px;
	color: #a84223;
}
.detailmenu h4 {
	font-size: 20px;
	font-size: 20px;
	margin-bottom: 10px;
	margin-top: 2px;
}
.dd {
	margin-top: 20px;
}
div#accordion a {
	padding: 8px !important;
	letter-spacing: .5px;
	text-decoration: none;
}
input.search_box {
	text-align: left;
	background: #f1f1f1;
	font-size: 14px;
}
.fa-search:before {
	color: #695c56;
	padding: 22px;
	content: "\f002";
	top: -14px;
	position: absolute;
	right: -4px;
	bottom: 0px;
}
.grant_result h4 {
	color: #ad4a0f;
	font-size: 24px;
	font-weight: 600 !important;
}
.grant_result h5 {
	color: #58453e;
	font-size:20px;
	font-weight: bold;
}
.grant_result p {
	line-height:23px;
	font-size:17px;
	text-align: justify !important;
	color: #58453e !important;
}
.grant_result a {
	margin-bottom: 20px;
	color: #58453e;
	float: right;
	font-weight: bold;
	font-size:16px;
}
.grant_result {
	margin-top:50px;
	border-bottom: 1px solid #e6e6e6;
}
.pagin {
	text-align: right;
}
ul.pagination .active a {
	background: #ff9900;
	border: none;
}
.login_form input[type="text"] {
	background: #faffbd;
	border: 1px solid #d6d6d6;
	width: 210px;
	height: 40px;
	text-align: left;
	font-size: 16px;
}
.login_form input[type="password"]{
	background: #faffbd;
	border: 1px solid #d6d6d6;
	width: 210px;
	height: 40px;
	text-align: left;
	font-size: 16px;
}
.login_form a {
	background: #f90;
	padding: 5px 20px 5px 20px;
	color: #fff;
	border-radius: 5px;
	text-decoration:none;
	cursor:pointer;
}
.login_form {
	background: #fff;
	border: 1px solid #fff;
	padding: 20px 10px 30px 30px;
	border-radius: 5px;
	box-shadow: 3px 3px 2px #ccc, 3px 3px 3px #ccc inset;
}
.login_form h4 {
	font-size: 22px;
	color: #000;
}
.grant_headings h5 {
	font-size: 22px;
	font-weight: bold;
}
.grant_headings{
	margin-top:50px;
}
.img_captions h5 {
	margin-top: 0px;
	margin-bottom: 10px;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}
.img_captions a {
	text-align: center;
	text-decoration: none;
	color: #58453e !important;
	font-size: 16px;
	padding-bottom: 10px;
}
.line-content a img {
	width:100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	height: 150px;
}
.line-content:hover a img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.image_content {
	margin-top:0px;
}
.iocn-image {
	padding: 0;
}
.iocn-image img {
	margin-top: 0px;
	margin-bottom: 10px;
	float: left;
	margin-right: 20px;
}
.col-md-8.image_content_left h5 {
	font-weight: normal !important;
	color: #4a4a4a;
	font-size: 20px;
	padding-top:0px;
}
.row {
	margin-right: 0px;
	margin-left: 0px;
}
select.form-control {
	text-align: center !important;
	font-size:17px;
	padding: 0px 0px 0px 0px;
	display: block;
	text-decoration: none;
	color: #695c56;
	background: #e3dcda;
	border: 3px solid #b4a49f;
	border-radius: 8px;
}
.btn-group.bootstrap-select.form-control {
	margin-top: 50px;
}
button.btn.dropdown-toggle.selectpicker.btn-default {
	text-align: center !important;
	font-size: 18px;
	padding: 6px 40px 5px 40px;
	display: block;
	text-decoration: none;
	color: #695c56;
	background: #e3dcda;
	margin-top: 2px;
}
.grant_content span {
	line-height:23px;
	color: #58453e !important;
	font-size:17px;
}
.col-md-8.image_content_left h5 {
	color: #a84223;
	font-size:20px;
	font-weight: 600 !important;
}
.col-md-8.image_content_left h6 {
	color: #a84223;
	font-size:20px;
	font-weight: 600 !important;
	margin-bottom:10px;
}
.col-md-12.image_content_images {
	margin-bottom: 25px;
	padding-left: 0px;
}
.col-md-4.image_content_right p {
	font-size:17px;
}
.panel-group {
	margin-top: 30px;
}
span.inner_heading {
	font-weight: 600;
	color:#a84223;
	font-size: 17px;
	line-height: 23px;
}
.col-md-4.image_content_right h5 {
	margin-top: 20px;
	font-size: 20px;
	font-weight: bold;
	color: #a84223;
}
.video_captions h5 {
	font-size: 18px !important;
	text-align: center !important;
}
.video_captions h5 {
	font-weight: bold;
	color: #000;
}
.grant_content {
	padding-left: 0px;
}
.col-md-12.grant_content p {
	margin-right: 0px !important;
	font-size: 17px;
	text-align: justify;
}
.my_content{
	margin-left: 20px !important;
	font-style: italic;
	background: #f1f1f1;
	padding: 10px;
	border-left: 5px solid #ff9900;
}
.col-md-12.pdf img {
	display: block;
}
.pdf h6 {
	font-size: 18px !important;
	text-align: center;
	color: #000 !important;
}
.tabs {
	padding:0;
}
.tabs .col-md-2,.tabs .col-md-3,.tabs .col-md-1 {
	padding: 0 0px;
}
.tabs p a {
	background: #e3e3e3;
	padding: 10px 2px;
	border-right: 3px solid #fff;
	font-size:11px;
	display: block;
	text-align: center;
	text-decoration:none;
	color:#337ab7;
}
.tabs p a i {
	margin-right:5px;
	color:#ff9900;
}
.detailmenu {
	margin:0;
	padding:0;
}
.detailmenu ul {
	margin:0;
	padding:0;
}
.detailmenu ul li {
	display:inline-block;
}
.detailmenu ul li a {
	display:inline-block;
	font-size:16px;
	color:#337ab7;
	text-align: center;
	text-decoration:none;
	padding: 8px 10px 0px 0px;
}
.detailmenu ul li a i {
	margin-right:5px;
	color:#ff9900;
}
.brownbutton{
	color: #fff;
	background: #806b66;
	padding: 9px 14px;
	height: 33px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 0px;
	margin-left: -69px;
	border-radius: 0 8px 8px 0;
}
.brownbutton i {
	color: #f1f1f1;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	display: inline-block;
}
.searchtext {
	background: #fff !important;
	border:1px solid #ddd !important;
	font-size:16px !important;
	width: 60%;
	display:inline-block;
	vertical-align: middle;
}
.right-addon .glyphicon {
	right: 9px;
	cursor: pointer;
	margin-top:0px;
	color: #a84223;
	font-size: 22px;
}
.inner-addon .glyphicon {
	position: absolute;
	padding: 10px 0;
	cursor: pointer;
	margin-right: 20px;
}
.right-addon input {
	padding-right: 0px;
}
input[type="text"] {
	text-align: center;
	position: relative;
	font-size: 17px;
	padding:5px 18px 2px 12px !important;
	background: #e3dcda;
	border: 3px solid #b4a49f;
	border-radius: 8px;
}
.About-content {
	margin-bottom: 50px;
	margin-top: 50px;
}
.audio-player {
	padding-left: 0px;
}
input[type="text"]:focus {
	outline:none;
}
.About-content h4 {
	margin-bottom:10px;
	font-size:20px;
	font-weight: bold;
	color: #ad4a0f;
	margin-top: 0px;
}
img.link-image {
	width:40px;
}
.top-search {
	margin-top:50px !important;
}
.ifa-text {
	padding-left: 60px;
	padding-right: 60px;
}
.col-md-12.image_content_images {
	padding-left: 0px !important;
	padding-right: 0px !important;
	margin: 25px -15px;
}
.col-md-12.image_content_images .line-content a {
	outline: none;
}
.popularbut {
	text-align: center;
	font-size:17px;
	padding: 5px 29px 5px 0px;
	display: block;
	text-decoration: none;
	color: #695c56;
	background: #e3dcda;
	border: 3px solid #b4a49f;
	border-radius: 8px;
}
.popularbut:hover {
	text-decoration: none;
	color: #695c56;
}
.textunder {
	margin-top: 50px;
	text-align: justify;
	font-size: 17px;
	margin-bottom: 0px;
	color: #58453e !important;
	line-height: 23px;
}
.home-search-section {
	padding: 35px 0px 5px;
}
.home-search-section .search-listing {
	margin-bottom: 30px;
}
.right-addon #searchinput {
	width: 100%;
	height: 40px;
}
.search-button input.search_box {
	height: 40px;
}
select {
	height: 40px;
}
select.form-control:focus {
	border-color: #806b66;
}
.search-grantee-name {
	margin-top: 35px;
}
.search-grantee-name .brownbutton {
    padding: 8px 14px;
    height: 32px;
    margin-top: 1px;
    margin-left: -79px;
}
.grants_text p span {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	line-height: 23px;
	max-height: 69px;
}
.grants_text p.empty-text {
	min-height: 130px;
}
@media screen and (max-width: 767px) {
	.home-search-section .search-listing {
		max-width: 300px;
		margin: 0 auto 30px;
	}
	.row.bg .search-listing h4 {
		padding: 6px;
		font-size: 14px;
	}
	.right-addon #searchinput {
		margin-bottom: 20px;
	}
	.search-container.top-search {
		margin-bottom: 20px;
		margin-top: 25px !important;
	}
	.search-container.top-search .textunder {
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 10px;
	}
}